body {
	font-size: 16px;
	color: #fff;
	background-color: #E24D1B;
	font-family: 'Heebo', sans-serif;
}

/****HEADER****/

#header-nav {
	background-color: #fff;
	border-radius: 0;
	border: 0;
	color:;
}

#logo-img {
	background-image: url('../images/TALKSPORT2.jpg');
	width: 222px;
	height: 212px;
	margin: 5px;
}